spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/casualapp
    username: casual
    password: casual123

  jpa:
    hibernate:
      ddl-auto: validate

  flyway:
    enabled: true

server:
  port: 8080
